:root {
    --bg-base: #FFFFFF;
    --bg-base-hover: #FBFBFB;
    --bg-sub: #f5f5f5;
    --bg-shade: #eeeeee;
    --bg-border: #DEDEDE;
    --bg-border-strong: #CCCCCC;
    --bg-modal-overlay: #00000099;
    --bg-contrast: #000000;
    --bg-error: #FFEEEE;

    --label-title: #000000;
    --label-base: #2E2E2E;
    --label-muted: #757575;
    --label-faint: #A9A9A9;
    --label-link: #2764D7;
    --label-link-hover: #0C4DC8;
}

[data-theme='dark'] {
    --bg-base: #181818;
    --bg-sub: #282828;
    --bg-shade: #2B2B2B;
    --bg-border: #363636;
    --bg-border-strong: #4F4F4F;
    --bg-modal-overlay: #000000CC;
    --bg-contrast: #e8e8e8;
    --bg-error: #461D03;

    --label-base: #DEDEDE;
    --label-muted: #9B9B9B;
    --label-faint: #585858;
    --label-link: #639AF8;
    --label-link-hover: #8BB5FE;
}

